.cookies {
    width: 350px;
    background-color: #fefefe;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border: 1px solid #cac7c7;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cookies-text {
        h3 {
            max-width: 280px;
            font-size: 18px;
            font-weight: 200;
            color: #000;
        }
    }

    .cookies-links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;

        a {
            font-weight: bold;
            padding: 10px;
            transition: all .4s;
            color: #000;
            cursor: pointer;
            border-radius: 5px;
        }

        a:hover {
            text-decoration: underline;
        }

        .active {
            display: block;
            background-color: #000;
            color: #fff;

        }
    }

}

@media (max-width: 700px){
  .cookies {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}