{{>partials/header}}

   <div class="digital-row">
      <div class="digital-col responsive">
         <div class="digital-rectangle blue-rectangle">
             <div class="circle">
               <img src="/assets/images/image2.jpg" alt=""/>
             </div>
         </div>
          <div class="digital-rectangle rose-rectangle">
             <div class="circle"></div>
         </div>
          <div class="digital-rectangle yellow-rectangle">
             <div class="circle">
               <img src="/assets/images/image-icom.jpg" alt=""/>
             </div>
         </div>
      </div>
       <div class="digital-col flex-direction">
          <div class="digital-title">
               <h1>icom digital</h1>
               <p>Seu canal de atendimento personalizado  em libras.</p>
               <p>Torne seu chatbox acessível para surdos!</p>
          </div>
          <div class="digital-contact">
             <div class="digital-contact-title">
               <h3>automatize seu atendimento em Libras</h3>
             </div>
             {{>partials/form-components}}
          </div>
      </div>
   </div>

{{>partials/footer}}