{{>partials/header}}
<div class="row-i-service-cart">
    <div class="service-cart-text">
      <h1>Assine e torne seu
          cartório inclusivo
          para surdos
        </h1>
        <p>Já pensou como você poderia casar ou abrir uma firma sem falar
           o idioma do cartório? Esse pode ser o caso de um surdo quando não há
           atendimento em Libras! Acessibilize o atendimento do seu cartório para
           surdos com o ICOM, a Plataforma de Atendimento em Língua de Sinais,
           em parceria oficial com a ANOREG Brasil.
        </p>
        <p>Em parceria oficial com ANOREG / BR</p>

    </div>

  <div class="background-x">
    <div class="border-align">
      <img src="/assets/images/border.png" alt="border.png"/>
    </div>
    <div class="service-cart-row">
        <div class="service-cart-col">
             <div class="service-cart-video">
                  <iframe  src="https://www.youtube.com/embed/6Cqrwzq_CZs?si=FFbjlqNvRxUPINre"
                   title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             </div>
        </div>
         <div class="service-cart-col">
            <div class="service-cart-description">
               <p>O ICOM, Plataforma de Atendimento em Língua de Sinais,
                  oferece recursos digitais de atendimento para você acessibilizar
                  a comunicação do seu cartório. Ao ler nosso QR code, a plataforma
                  ICOM conecta em videochamada um intérprete de Libras para interpretar
                  a comunicação entre o colaborador do seu cartório e um surdo. O colaborador
                  fala em português com o intérprete que irá traduzir em Libras para o surdo.
               </p>
               <p>Com apenas um click, você tem acesso a inclusão a qualquer hora, a qualquer lugar, de maneira simples e instantânea.</p>
             </div>
        </div>
    </div>
  </div>


     <div class="service-cart-row-2">
        <div class="service-cart-col-2">
            <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Baixo Custo</p>
           </div>

            <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Práticas ESG</p>
           </div>

            <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Acessibilidade para surdos</p>
           </div>

           <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Seu cartório inclusivo e digital</p>
           </div>

            <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Intérpretes de Libras em videochamada</p>
           </div>

           <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Em compliance com o Decreto Nº 2596</p>
           </div>

           <div class="service-cart-i">
              <img src="/assets/images/icons8-approval-48.png" alt="approval.png"/>
              <p>Centro de suporte especializado para você</p>
           </div>
        </div>
        <div class="service-cart-col-2 justify-center-flex">
           <h1>Atendimento em Libras</h1>
           <p class="price">R$ 210,00 / mês</p>
           <div class="service-cart-links">
              <a href="#">
                ASSINE AGORA 
                <i class="fa-solid fa-chevron-right hidden"></i>
              </a>
            </div>
        </div>
     </div>
    
     <div class="service-cart-row-3">
      <div class="service-cart-title">
        <h1>Passo a Passo</h1>
        <p>Como acessibilizar meu cartório?</p>
      </div>
      <div class="list-item">
         <div class="item-info blue">
             <div class="circle">
              <h1 class="blue-color">1<h1>
             </div>
             <p>Registre e assine o serviço</p>
         </div>

          <div class="item-info black">
             <div class="circle">
              <h1 class="black-color">2<h1>
             </div>
             <p>Entre no seu "Portal do cliente"
             para acessar o serviço, guias de uso e  material de comunicação
             . Após assinar o serviço, você receberá um email com os dados de acesso.
             </p>
         </div>

          <div class="item-info green">
             <div class="circle">
              <h1 class="green-color">3<h1>
             </div>
             <p>Receba nosso material  impresso de comunicação
              com QR Code  para asessar serviços</p>
         </div>

          <div class="item-info red">
             <div class="circle">
              <h1 class="red-color">4<h1>
             </div>
             <p>Implemente o material com QR Code enviando no seu
                cartório para acessar o serviços em apenas um click
             </p>
         </div>
          <div class="item-info yellow">
             <div class="circle">
              <h1 class="yellow-color">5<h1>
             </div>
             <p>Qundo chegar um surdo, acesse o serviço através do QR Code</p>
         </div>

         <div class="item-info blue2">
             <div class="circle">
              <h1 class="blue2-color">6<h1>
             </div>
             <p>Pronto! Agora você pode atender a comunidade surda e divugar sua inclusão</p>
         </div>
      </div>
   </div>
   <div class="service-cart-row-3">
      <div class="service-cart-title">
          <h1>Perguntas Frequentes</h1>
      </div>
      <div class="service-cart-doubts-list">
         <div class="service-cart-doubts-i">
              <div class="doubts-flex">
                 <i class="fa-solid fa-plus"></i>
                 <p>Como faço para participar?</p>
              </div>
              <div class="overflow-i">
                  <div class="doubts-description">
                    <h5>1. Registre e assine o serviço</h5>
                    <h5>2. Entre no seu “Portal do cliente” para acessar o serviço, guias de uso e material de comunicação. Após assinar o serviço, você receberá um email com os dados de acesso/div>
                    <h5>3. Receba nosso material impresso de comunicação com QR Code para acessar o serviço</h5>
                    <h5>Implemente o material com o QR Code enviado no seu cartório para acessar o serviço em apenas um click</h5>
                    <h5>5. Quando chegar um surdo, acesse o serviço através do QR Code</h5>
                    <h5>6. Pronto! Agora você pode atender a comunidade surda e divulgar sua inclusão</h5>
                 </div>
               </div>
         </div> 

          <div class="service-cart-doubts-i">
               <div class="doubts-flex">
                 <i class="fa-solid fa-plus"></i>
                 <p>Por que escolher a Plataforma de Atendimento em Língua de Sinais do ICOM? Quais os benefícios?</p>
              </div>
              <div class="overflow-i">
                  <div class="doubts-description">
                    <h5>Com o ICOM, em apenas um click, você tem acesso a inclusão a qualquer
                        hora, a qualquer lugar, de maneira simples e instantânea. Basta ler o QR
                        Code para acessar a um intérprete em tempo real em videochamada que 
                        conecta o surdo e ouvinte. E porque somos especialistas em inclusão das 
                        pessoas com deficiência no Brasil há mais de 3 décadas. O ICOM nasceu do 
                        AME Lab para dar voz a todos que enfrentam dificuldade na comunicação,
                        assegurando diálogos sem barreiras. O AME Lab é Laboratório de Tecnologia 
                        Assistiva da AME , ONG (link do site da AME) de referência na ampliação de 
                        oportunidades na sociedade para as pessoas com deficiência.
                    </h5>
                 </div>
               </div> 
         </div> 

          <div class="service-cart-doubts-i">
               <div class="doubts-flex">
                 <i class="fa-solid fa-plus"></i>
                 <p>Quanto custa?</p>
              </div>
              <div class="overflow-i">
                  <div class="doubts-description">
                    <h5> Com apenas R$ 210,00 por mês você pode acessibilizar seu cartório 
                         24 horas por dia, 7 dias na semana.
                    </h5>
                 </div>
               </div> 
         </div> 

           <div class="service-cart-doubts-i">
               <div class="doubts-flex">
                 <i class="fa-solid fa-plus"></i>
                 <p>Quantos materiais para colocar no meu cartório estão inclusos no pacote?</p>
              </div>
              <div class="overflow-i">
                  <div class="doubts-description">
                    <h5> Você receberá 10 adesivos e 2 pôsteres impressos. 
                        Todos com QR Code para acessar o serviço. Se precisar de mais, 
                       você pode acessar o material em versão digital no Portal do Cliente e imprimir.
                    </h5>
                    <h5>Além disso, você tem:</h5>
                    <h5>- um vídeo em Libras para disponibilizar no seu cartório e avisar
                        a comunidade surda que você fala a mesma língua e que é inclusivo.
                    </h5>
                    <h5>- Material e guia de apoio.</h5>
                    <h5>- Treinamentos periódicos para saber mais sobre o serviço, acessibilidade e a comunidade surda.</h5>
                 </div>
               </div> 
         </div> 

          <div class="service-cart-doubts-i">
               <div class="doubts-flex">
                 <i class="fa-solid fa-plus"></i>
                 <p>Tecnologia assistiva digital ou intérprete de Libras presencial?</p>
              </div>
              <div class="overflow-i">
                  <div class="doubts-description">
                    <h5> Com o ICOM, você consegue atender por apenas R$ 210,00 por mês
                     inúmeros surdos, de forma simultânea e em tempo real, em qualquer 
                     lugar, a qualquer hora. O intérprete presencial poderá apenas se dedicar
                      a um surdo de cada vez, além do custo do profissional ser mais caro.
                    </h5>
                   
                 </div>
               </div> 
         </div> 
      </div>
   <div>
</div>
<div class="row-i-8">
  {{>partials/social-components}} 
</div>
{{>partials/footer}}