<div class="cookies" id="cookies">
   <div class="cookies-text">
      <h3>Utilizamos cookies para oferecer melhor
          experiência, melhorar o desempenho, analisar
          como você interage em nosso site e personalizar
          conteúdo.
      </h3>
   </div>
   <div class="cookies-links">
       <a id="refuse">Recusar Cookies</a>
       <a id="accept" class="active">Aceitar Cookies</a>
   </div>
</div>